// Body
$body-bg: #eee;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// theme color
$themeColor: #d82a4f;
$themeFontColor: #fff;
$themeHoverColor: #d82a4f;

$btnDefaultBg: #d82a4f;
$btnDefaultFont: #002c35;

// footer
$footerBg: #fff;

// Colors
$blue: #d82a4f;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1250px,
) !default;
