APP_READ_ONLY=false
APP_NAME="Chinaonlinebd"
APP_ENV=local
APP_KEY=base64:e/M0XTjF2idpByiOCK0B3z5TClnB5XJoY+d8ChIFfPY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_LOCALE_PHP=en_US
APP_TIMEZONE="Asia/Dhaka"
LOG_CHANNEL=daily

DEBUGBAR_ENABLED=false
SINGLE_LOGIN=false

#larave page speed packages
LARAVEL_PAGE_SPEED_ENABLE=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=chinaonlinebd_web
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


# MAILJET mailer
MAIL_DRIVER=mailjet
MAILJET_APIKEY="e958c29409619e6c671a9ab91495a180"
MAILJET_APISECRET="751d23f38b88b837d55879031a17f6f0"
MAIL_FROM_ADDRESS=info@chinaonlinebd.com
MAIL_FROM_NAME="${APP_NAME}"

# MAIL_DRIVER=smtp
# MAIL_HOST=in-v3.mailjet.com
# MAIL_PORT=2525
# MAIL_USERNAME="9fb2e166a79255f58a93f28bc9337cae"
# MAIL_PASSWORD="295cd1c5f708ab2a913089d060e703be"
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS=info@skybuybd.com
# MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DROPBOX_AUTH_TOKEN=

# Access
ENABLE_REGISTRATION=true
CHANGE_EMAIL=true
PASSWORD_HISTORY=3
PASSWORD_EXPIRES_DAYS=720

# This should be one or the other, or neither
REQUIRES_APPROVAL=false
CONFIRM_EMAIL=true

# Get your credentials at: https://www.google.com/recaptcha/admin
CONTACT_CAPTCHA_STATUS=false
REGISTRATION_CAPTCHA_STATUS=false
LOGIN_CAPTCHA_STATUS=false

INVISIBLE_RECAPTCHA_SITEKEY=
INVISIBLE_RECAPTCHA_SECRETKEY=
INVISIBLE_RECAPTCHA_BADGEHIDE=false
INVISIBLE_RECAPTCHA_DATABADGE='bottomright'
INVISIBLE_RECAPTCHA_TIMEOUT=5
INVISIBLE_RECAPTCHA_DEBUG=false


# ISMS Api Token
ISMS_API_TOKEN=""
ISMS_SID=""

#google analytics
#GOOGLE_ANALYTICS=false

#facebook chat enable
FACEBOOK_CHAT=false


# sslcommerz api intregration
API_DOMAIN_URL="https://sandbox.sslcommerz.com"
STORE_ID=""
STORE_PASSWORD=""
SSLCOMMERZ_LIVE=FALSE

# Socialite Providers
FACEBOOK_ACTIVE=true
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
FACEBOOK_REDIRECT=${APP_URL}/login/facebook/callback

BITBUCKET_ACTIVE=false
#BITBUCKET_CLIENT_ID=
#BITBUCKET_CLIENT_SECRET=
#BITBUCKET_REDIRECT=${APP_URL}/login/bitbucket/callback

GITHUB_ACTIVE=false
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
#GITHUB_REDIRECT=${APP_URL}/login/github/callback

GOOGLE_ACTIVE=true
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT=${APP_URL}/login/google/callback

LINKEDIN_ACTIVE=false
#LINKEDIN_CLIENT_ID=
#LINKEDIN_CLIENT_SECRET=
#LINKEDIN_REDIRECT=${APP_URL}/login/linkedin/callback

TWITTER_ACTIVE=false
#TWITTER_CLIENT_ID=
#TWITTER_CLIENT_SECRET=
#TWITTER_REDIRECT=${APP_URL}/login/twitter/callback


# nagad payment intregration
NAGAD_MODE=sandbox
NAGAD_MERCHANT_ID=
NAGAD_MERCHANT_NUMBER=
NAGAD_PUBLIC_KEY=
NAGAD_PRIVATE_KEY=
NAGAD_CALLBACK_URL=${APP_URL}/nagad/callback


# SMANAGER PAYMENT GATEWAY
S_MANAGER_CLIENT_ID=
S_MANAGER_CLIENT_SECRET=
S_MANAGER_BASE_URL=https://api.dev-sheba.xyz

