

/*===================================*
  19.START 404 ERROR STYLE
*===================================*/
.error_wrap {
  width: 100%;
}

.error_txt {
  color: #333;
  font-size: 150px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1;
}

.search_form form {
  position: relative;
}

.search_form form input {
  height: 50px;
  padding: 5px 60px 5px 20px;
}

.search_form form input:focus {
  height: 50px;
}

.search_form .icon_search {
  position: absolute;
  right: 18px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-left: 1px solid #ddd;
  border-radius: 0;
  padding: 0 0 0 15px;
}

.search_form .icon_search i {
  font-size: 24px;
  margin-right: 0;
}

.form-note {
  margin-top: 20px;
}

/*===================================*
  19.END 404 ERROR STYLE
*===================================*/