.category_items {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        li {
            text-align: center;
            margin-bottom: 0;
            margin-top: 30px;
            width: 12.5%;
            padding: 0 5px;
            margin-top: 0;
            margin-bottom: 30px;

            a {
                display: block;
                &:hover {
                    h2 {
                        color: #ee4623;
                    }
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            .t-imgage {
                display: block;
                overflow: hidden;
                img {
                    transition: 0.5s;
                }
            }
            h2 {
                font-weight: 400;
                margin: 12px 0 0;
                line-height: 1;
                transition: 0.5s;
                color: #555;
                font-size: 13px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-transform: capitalize;
            }
        }
    }
    img {
        height: auto;
        max-width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
    }
}
